<% if current_user.group_member?(@itinerary.trip)%>
<div class="row">
<div class="container">
  <h1 class="pull-left col-lg-2"><%= @trip.name %></h1>   
      <div class="btn-group col-lg-2" style="padding-top: 25px">
        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
          Trip Settings
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><%= mail_to " ", "Invite Friends to Trip", subject: "Come Join My #{@trip.name} Trip", body: "Trip ID: #{@trip.slug} Trip Password: #{@trip.password} Go to http://www.gravel.world/invite to join"%></li>
          <li><%= link_to "Go Back to All Trips" ,"/trips"%></li>
          <li><%= link_to "Add Place" ,"/places/new?trip_id=#{@trip.id}"%></li>
          <li> <%= link_to "Add Comment", "/trips/#{@trip.id}/comments/new"%></li>
         </ul>
      </div>
  <div class="btn-group col-lg-2" style="padding-top: 25px">  
  <%= mail_to " ", "Invite Friends to Trip", subject: "Come Join My #{@trip.name} Trip", body: "Trip ID: #{@trip.slug} Trip Password: #{@trip.password} Go to http://localhost:3000/invite to join", class: 'btn btn-default btn-md' %>
  </div>
  <% if current_user.currently_admin?(@trip)%>
  <div class="btn-group col-lg-2 pull-right" style="padding-top: 25px">
        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true"> Admin Settings:
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href= "/trips/<%=@trip.id%>/edit"> Edit Trip</a></li>
          <li><a href= "/itinerary/<%=@trip.itinerary.id%>"> Show Itinerary</a></li>
          <li><a href= "/itinerary/<%=@trip.itinerary.id%>/edit"> Edit Itinerary</a></li>
          <li><%= link_to "Delete trip", "/trips/#{@trip.id}", method: :delete %></li>
         </ul>
      </div>
  <%end%>
 </div>
</div>
</div>

<% if !@trip.places.first%>
<div class="container">
<center>
 <h2>No places, add place <a href="/places/new?trip_id=<%=@trip.id%>" style="color: #66c0b7"> here. </a> </h2>
 </center>
</div>
<%end%>

<div class="row">
<div class="container">
<% if @trip.places.first %>
    <div ng-app="app">
      <div ng-controller="pageCtrl" ng-init="initialize(<%= @trip.id %>)">
    <div class="form-horizontal col-md-3 pre-scrollable">
    <fieldset>
    <legend> Places:</legend>
      <p style="font-size: 12px"><i> *Click <img class="thumb" src="http://image.flaticon.com/icons/svg/48/48001.svg"> to vote for place. </i></p>
    <%= form_tag "/itinerary/#{@trip.itinerary.id}", method: :post do %>
       <% @trip.places.all.each do |place|%>
      <div>
        <%if current_user.currently_admin?(@trip)%>
        <%= check_box_tag "itinerary_places[]", place.id %>
        <%end%>
      <% hidden_field_tag :itinerary_id, @trip.itinerary.id %>
      <a href="/places/<%=place.id%>"><%= label_tag(place, place.name)%></a> <span id="place-<%=place.id%>"><%=place.votes.count%></span>

        <% if !Vote.find_by(user_id: current_user.id, place_id: place.id) %>
          <a id="vote-<%=place.id%>" ng-click="addVote(<%= place.id %>, <%= current_user.id %>)"><img class="thumb" src="http://image.flaticon.com/icons/svg/48/48001.svg"></a>
        <% end %>
      <% end -%>
    </div>
    <%if current_user.currently_admin?(@trip)%>
    <%= submit_tag "Add to Itinerary", class: 'btn btn-default btn-md'%>
    <%end%>
  <%end%>
  <%= link_to "Add Place" , "/places/new?trip_id=#{@trip.id}", class: 'btn btn-default btn-md'%>
    <%end%>
  </div>
  </div>
  </fieldset>
    </div>


  <% if @locs.first%>
  <head>
  <title>Trip with Markers</title>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBphYEHxnocJdbTswQnh8YEAAz1jfPOmo0" type="text/javascript"></script>
  </head>
  <body>
 
  <div class="col-md-6" id="map" style="height: 345px; width: 569px;">
  </div>

  <script type="text/javascript">
    var locations = <%=@locs.to_json.html_safe%>;

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: new google.maps.LatLng(<%=@locs.first[1].to_json.html_safe%>, <%=@locs.first[2].to_json.html_safe%>),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;
    var markers = new Array();

    for (i = 0; i < locations.length; i++) { 
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      markers.push(marker);

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
    function AutoCenter() {
      //  Create a new viewpoint bound
      var bounds = new google.maps.LatLngBounds();
      //  Go through each...
      $.each(markers, function (index, marker) {
      bounds.extend(marker.position);
      });
      //  Fit these bounds to the map
      map.fitBounds(bounds);
    }
    AutoCenter(); 
  </script>
  </body>
  <%end%>

  <div class="form-horizontal col-md-3 pre-scrollable pull-right" >
  <fieldset>
  <legend> Please enter comment for trip: </legend>

  <%= form_tag "/trips/#{params[:id]}/comments", method: :post do %>

    <div>
    <center>
    <%= text_area_tag :comment %>
    </center>
    </div>

    <div>
    <center>
    <%= submit_tag "Save Comment", class: "btn btn-info btn-md"%>
    </div>
    </center>
    <% end -%>

    <% if @trip.trip_comments.first %>
    <p><% @trip.trip_comments.order(created_at: :desc ).each do |comment|%></p>
    <div id="comment">
    <%= comment.comment%> </br>
    - <%= comment.user.name%>
    at: <%= comment.created_at.strftime("%D - %r")%>
    </div>
    <%end%>
    <% end -%>
  </div>
  </fieldset>
</div>
</div>
</br>
<% if @trip.places.first%>
<div class="row">
  <div class="container">
    <fieldset class="col-md-7 pre-scrollable" style="margin-top: 20px; margin-left: 20px">
      <legend> Itinerary: <a class="pull-right" href="/itinerary/<%=@trip.itinerary.id%>">Show Itinerary</a> </legend>
      <table>
      <% @trip.itinerary.itinerary_places.order(when: :asc ).each do |itinerary_place|%>
        <tr>
          <td style="width: 150px">
          <h4><a href="/places/<%=itinerary_place.place.id%>"><%=itinerary_place.place.name%></a></h4>
          </td>
          <td><%=itinerary_place.place.address%></td>
          <td><% if itinerary_place.when%>
          <%=itinerary_place.when.strftime("%B %d,%Y - %l:%M%P")%>
          <%else%>
          <% end -%>
          </td> 
        </tr>
      <%end%>
      </table>
    </fieldset>
    <fieldset class="col-md-4 pre-scrollable" style="margin-top: 20px">
      <legend> Expenses </legend>
        <% @trip.itinerary.itinerary_places.each do |itinerary_place|%>
          <% if !itinerary_place.place.expenses.empty? %>
            <% if itinerary_place.place.expenses %>
              <h4><a href="/places/<%=itinerary_place.place.id%>"><%=itinerary_place.place.name%></a></h4>
              <% itinerary_place.place.expenses.each do |expense|%>
                  $<%= expense.amount%>
                - <%= expense.user.name%>
                </br>
              <%end%>
            <%end%>
      <%end%>
      <%end%>
    </fieldset>
  </div>
</div>
<% end -%>
<div class="container"> 
<h1 style="font-style: italic; color: grey; font-family: 'Inconsolata', monospace;"><center> Oops! This trip is private, please contact group member for an invite. </center></h1>
</div>
<%end%>

