<div class="form-inputs">
<%= form_for(:user, :url => session_path(:user)) do |f| %>
  Email: <%= f.text_field :email %><br><br>
  Password: <%= f.password_field :password %><br>
  <%= f.label :remember_me %>
  <%= f.check_box :remember_me %><br>
  <%= f.submit 'Sign in' %><br>
  <%= link_to "Forgot your password?", new_password_path(:user) %>
<% end %>
</div>

<%= link_to "Sign Up", "/users/sign_up" %>