<div class="container">
  <fieldset>
    <legend>Edit Trip Information:</legend>  

  <%= form_tag '/places/#{@place.id}', method: :patch do %>

    <div class="form-group ">
      <%= label_tag :name %>
      <%= text_field_tag :name, @place.name, class: 'input-field' %>
    </div>
    <div class="form-group ">
      <%= label_tag :phone %>
      <%= text_field_tag :phone, @place.phone, placeholder: "Optional", class: 'input-field'%>
    </div>
    <div class="form-group ">
      <%= label_tag :place %>
      <%= text_field_tag :search, params[:search],:id => 'geo-input', class: 'input-field' %>
    </div>

    <%= hidden_field_tag :trip_id, params[:trip_id], class: "form-control" %>
    <%= hidden_field_tag :longitude, class: "form-control" %>
    <%= hidden_field_tag :latitude, class: "form-control" %>

    <div class="form-group ">
    <%= submit_tag "Update Place", class: "btn btn-info btn-md" %>
    </div>
  </div>
  <% end %>